extends layout


block content
    .jumbotron
        h1 hello!

      .row
        .alert.alert-success.hide

        .alert.alert-info.hide
          
        .alert.alert-warning.hide
          
        .alert.alert-danger.hide
          

        
      .row    
        include stats

      .row.marketing
        table#rules.table.table-bordered
            tr.headerRow
                th
                th Key
                th.col-md-3.text-center
                    button#addnew.btn.btn-xs.btn-info(type=button)
                        i.glyphicon.glyphicon-plus
                        span  add new
            tr.addRow.fileContent
                td
                    p Key:
                    input#addKey(type="text", placeholder="type your unique name")
                td.text-left(colspan=3)
                    p Rule body
                    textarea#addcodeMld.text-left
                    br
                    div(style="float:right")
                        .btn-group(role='group', aria-label='...')
                            button#addSave.btn.btn-info(type=button) Save
                            button#addCancel.btn.btn-default(type=button) Cancel    
            for fl in rules
                include tablerow
                                                  
    
