.modal-header
               button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
               h4.modal-title= "'" + name + "' STATS"
br
.row
 .col-lg-6.col-md-6
  .panel.panel-info
    .panel-heading
      .row
        .col-xs-3
          i.fa.fa-rocket.fa-5x
        .col-xs-9.text-right
          .huge= timesExecuted
          div Times Executed!
    
        .clearfix
 .te
 .col-lg-6.col-md-6
  .panel.panel-danger
    .panel-heading
      .row
        .col-xs-3
          i.fa.fa-times.fa-5x
        .col-xs-9.text-right
          .huge= errCount
          div Error Count!
    
        .clearfix
 .te