script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/codemirror.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/addon/edit/matchbrackets.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/addon/comment/continuecomment.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/addon/comment/comment.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/mode/javascript/javascript.js")
script(src="/index.js")