.col-lg-6.col-md-6
 .panel.panel-success
   .panel-heading
     .row
       .col-xs-3
         i.fa.fa-check-circle.fa-5x
       .col-xs-9.text-right
         .huge#activeRules 0
         div Active Rules!
   a(href='javascript:void(0)')
     .panel-footer
       span.pull-left  
       span.pull-right
         i.fa.fa-arrow-circle-right
       .clearfix
       
.col-lg-6.col-md-6
 .panel.panel-warning 
   .panel-heading
     .row
       .col-xs-3
         i.fa.fa-exclamation-circle.fa-5x
       .col-xs-9.text-right
         .huge#passiveRules 0
         div Passive Rules!
   a(href='javascript:void(0)')
     .panel-footer
       span.pull-left  
       span.pull-right
         i.fa.fa-arrow-circle-right
       .clearfix

.col-lg-12.col-md-6
 .panel.panel-info 
   .panel-heading
     .row
       .col-xs-3
         i.fa.fa-rocket.fa-5x
       .col-xs-9.text-right
         .huge#timesExecuted 0
         div Times Executed!
   a(href='javascript:void(0)')
     .panel-footer
       span.pull-left  
       span.pull-right
         i.fa.fa-arrow-circle-right
       .clearfix